[user]
	name = Thomas Preston
	email = thomasmarkpreston@gmail.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	di = diff
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[includeIf "gitdir:~/w/"]
	path = ~/w/.gitconfig
