[submodule "tmux/dot-tmux/plugins/tmux-sensible"]
	path = tmux/dot-tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/dot-tmux/plugins/tmux-yank"]
	path = tmux/dot-tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "tmux/dot-tmux/plugins/tmux-pain-control"]
	path = tmux/dot-tmux/plugins/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control
[submodule "tmux/dot-tmux/plugins/tmux-battery"]
	path = tmux/dot-tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
[submodule "tmux/dot-tmux/plugins/tmux-open"]
	path = tmux/dot-tmux/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule "vim/dot-vim/pack/tpreston/start/vim-fetch"]
	path = vim/dot-vim/pack/tpreston/start/vim-fetch
	url = https://github.com/wsdjeg/vim-fetch
[submodule "vim/dot-vim/pack/tpreston/start/vim-sandwich"]
	path = vim/dot-vim/pack/tpreston/start/vim-sandwich
	url = https://github.com/machakann/vim-sandwich
[submodule "vim/dot-vim/pack/tpreston/start/rust.vim"]
	path = vim/dot-vim/pack/tpreston/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/dot-vim/pack/tpreston/start/tagbar"]
	path = vim/dot-vim/pack/tpreston/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "tmux/dot-tmux/plugins/tmux-thumbs"]
	path = tmux/dot-tmux/plugins/tmux-thumbs
	url = https://github.com/fcsonline/tmux-thumbs
[submodule "vim/dot-vim/pack/tpreston/start/dispatch"]
	path = vim/dot-vim/pack/tpreston/start/dispatch
	url = https://tpope.io/vim/dispatch.git
[submodule "vim/dot-vim/pack/tpreston/start/unimpaired"]
	path = vim/dot-vim/pack/tpreston/start/unimpaired
	url = https://tpope.io/vim/unimpaired.git
[submodule "vim/dot-vim/pack/tpreston/start/syntastic"]
	path = vim/dot-vim/pack/tpreston/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
