[submodule "home/.tmux/plugins/tmux-sensible"]
	path = home/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "home/.tmux/plugins/tmux-yank"]
	path = home/.tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "home/.tmux/plugins/tmux-pain-control"]
	path = home/.tmux/plugins/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control
[submodule "home/.tmux/plugins/tmux-open"]
	path = home/.tmux/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule "home/.local/share/nvim/site/pack/plugins/start/vim-fetch"]
	path = home/.local/share/nvim/site/pack/plugins/start/vim-fetch
	url = https://github.com/wsdjeg/vim-fetch
[submodule "home/.local/share/nvim/site/pack/plugins/start/rust.vim"]
	path = home/.local/share/nvim/site/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "home/.local/share/nvim/site/pack/plugins/start/tagbar"]
	path = home/.local/share/nvim/site/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "home/.local/share/nvim/site/pack/plugins/start/dispatch"]
	path = home/.local/share/nvim/site/pack/plugins/start/dispatch
	url = https://tpope.io/vim/dispatch.git
[submodule "home/.local/share/nvim/site/pack/plugins/start/unimpaired"]
	path = home/.local/share/nvim/site/pack/plugins/start/unimpaired
	url = https://tpope.io/vim/unimpaired.git
[submodule "home/.local/share/nvim/site/pack/plugins/start/vim-sleuth"]
	path = home/.local/share/nvim/site/pack/plugins/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "home/.local/share/nvim/site/pack/plugins/start/vim-sensible"]
	path = home/.local/share/nvim/site/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "home/.local/share/nvim/site/pack/plugins/start/vim-openscad"]
	path = home/.local/share/nvim/site/pack/plugins/start/vim-openscad
	url = git@github.com:sirtaj/vim-openscad.git
[submodule "home/.local/share/nvim/site/pack/plugins/start/cql-vim"]
	path = home/.local/share/nvim/site/pack/plugins/start/cql-vim
	url = git@github.com:elubow/cql-vim.git
[submodule "home/.local/share/nvim/site/pack/plugins/start/vim-fugitive"]
	path = home/.local/share/nvim/site/pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "home/.local/share/nvim/site/pack/plugins/start/vim-rhubarb"]
	path = home/.local/share/nvim/site/pack/plugins/start/vim-rhubarb
	url = git@github.com:tpope/vim-rhubarb.git
[submodule "home/.local/share/nvim/site/pack/plugins/start/vim-comentary"]
	path = home/.local/share/nvim/site/pack/plugins/start/vim-comentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "home/.local/share/nvim/site/pack/plugins/start/vim-surround"]
	path = home/.local/share/nvim/site/pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "home/.local/share/nvim/site/pack/plugins/start/fzf.vim"]
	path = home/.local/share/nvim/site/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "home/.local/share/nvim/site/pack/plugins/start/nvim-lspconfig"]
	path = home/.local/share/nvim/site/pack/plugins/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "home/.local/share/nvim/site/pack/plugins/start/vim-projectionist"]
	path = home/.local/share/nvim/site/pack/plugins/start/vim-projectionist
	url = https://github.com/tpope/vim-projectionist
[submodule "home/.local/share/nvim/site/pack/plugins/start/vim-vsnip"]
	path = home/.local/share/nvim/site/pack/plugins/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "home/.local/share/nvim/site/pack/plugins/start/vscode-go"]
	path = home/.local/share/nvim/site/pack/plugins/start/vscode-go
	url = https://github.com/golang/vscode-go.git
