[user]
	name = Thomas Preston
	email = thomaspreston@monzo.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	di = diff
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pull]
	rebase = false
[url "ssh://git@github.com/monzo/"]
	insteadOf = https://github.com/monzo/
